$desktop-width: 1440px;

// Neutral Colors
$neutral-0: hsl(0, 0%, 100%);
$neutral-300: hsl(252, 6%, 83%);
$neutral-500: hsl(245, 15%, 58%);
$neutral-700: hsl(245, 19%, 35%);
$neutral-900: hsl(248, 70%, 10%);

// Orange Colors
$orange-500: hsl(7, 88%, 67%);
$orange-700: hsl(7, 71%, 60%);

// Gradient
$gradient-text: linear-gradient(90deg, hsl(7, 86%, 67%), hsl(0, 0%, 100%));


// Texts
$text-labels: 2.5rem;


// Flexbox mixin

@mixin flex($direction: row, $justify: flex-start, $align: stretch) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

// Button mixin

@mixin button($color: $neutral-0, $bg: $orange-500, $bg-hover: transparent, $border: none, $radius: 0.5rem) {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: $color;
  background-color: $bg;
  border: $border;
  border-radius: $radius;
  cursor: pointer;
  transition: background-color 0.3s ease;

    &:hover {
        background-color: $bg-hover;
    }
}

// Input mixin

@mixin input($color: $neutral-900, $bg: $neutral-300, $border: none, $radius: 0.5rem) {
  font: inherit;
  color: $color;
  background-color: $bg;
  border: $border;
  border-radius: $radius;
  padding: 1rem;
  transition: background-color 0.3s ease;
}

// Text mixin

@mixin text($color: inherit, $size: 1rem, $weight: 400 , $line-height: 1.5, $align: left) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
    line-height: $line-height;
    text-align: $align;
}

// Container mixin

@mixin container($width: 100%, $padding: 0, $max-width: $desktop-width, $margin: 0 auto) {
  width: $width;
  padding: $padding;
  margin: $margin;
  max-width: $max-width;
}