$tablet-width: 640px;
$desktop-width: 1440px;

// Neutral Colors
$neutral-0: hsl(0, 0%, 100%);
$neutral-300: hsl(252, 6%, 83%);
$neutral-500: hsl(245, 15%, 58%);
$neutral-700: hsl(245, 19%, 35%);
$neutral-900: hsl(248, 70%, 10%);

// Orange Colors
$orange-500: hsl(7, 88%, 67%);
$orange-700: hsl(7, 71%, 60%);

// Gradient
$gradient-text: linear-gradient(90deg, hsl(7, 86%, 67%), hsl(0, 0%, 100%));

// Texts
$text-labels: 2.5rem;

// Responsive mixins

@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}

// Flexbox mixin

@mixin flex($direction: row, $justify: flex-start, $align: stretch, $items-gap: 0, $wrap: nowrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $items-gap;
  flex-wrap: $wrap;
}

// Button mixin

@mixin button(
  $text-color: $neutral-0,
  $color-hover: $neutral-0,
  $bg: $orange-500,
  $bg-hover: transparent,
  $br: none,
  $radius: 0.5rem,
  $p: 1rem,
  $size: 1rem,
  $size-desktop: 1.5rem,
  $weight: 400,
  $m: 0,
  $w: auto
) {
  
  & {
    @include desktop {
      font-size: $size-desktop;
    }
  }

  font-family: inherit;
  font-size: $size;
  font-weight: $weight;
  color: $text-color;
  background-color: $bg;
  border: $br;
  border-radius: $radius;
  padding: $p;
  transition: background-color 0.3s ease;
  margin: $m;
  width: $w;

  &:hover {
    background-color: $bg-hover;
  }

}

// Input mixin

@mixin input(
  $text-color: $neutral-900,
  $bg: $neutral-300,
  $br: none,
  $radius: 0.5rem,
  $p: 1rem,
  $size: 1rem,
  $size-desktop: 1.5rem,
  $w: 100%,
  $placeholder-color: $neutral-0
) {
  & {
    @include desktop {
      font-size: $size-desktop;
    }
  }

  font: inherit;
  color: $text-color;
  background-color: $bg;
  border: $br;
  border-radius: $radius;
  padding: $p;
  font-size: $size;
  width: $w;

  &::placeholder {
    color: $placeholder-color;
  }
}

// Text mixin

@mixin text(
  $text-color: inherit,
  $size: 1rem,
  $size-desktop: 1.5rem,
  $weight: 400,
  $align: left,
  $m: 0,
  $l-height: 1.5
) {
  font-size: $size;
  font-weight: $weight;
  color: $text-color;
  text-align: $align;
  margin: $m;
  line-height: $l-height;

  & {
    @include desktop {
      font-size: $size-desktop;
    }
  }
}

// Container mixin

@mixin container(
  $w: 100%,
  $h: auto,
  $p: 0,
  $max-w: $desktop-width,
  $max-w-desktop: $desktop-width,
  $m: 0 auto,
  $br: none,
  $radius: 0,
  $bg: none,
) {
  & {
    width: $w;
    padding: $p;
    margin: $m;
    max-width: $max-w;
    border: $br;
    height: $h;
    border-radius: $radius;
    background-color: $bg;
  }

  @include desktop {
    & {
      max-width: $max-w-desktop;
    }
  }
}

// Grid mixin

@mixin grid(
  $columns: 1,
  $items-gap: 1rem,
  $justify: flex-start,
  $align: stretch,
  $wrap: wrap
) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  gap: $items-gap;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}


